# PROGRAM - 1
## AIM: Write a python program which accept the radius of a circle from the user and compute the area.

In [2]:
x= int(input("Enter radius:"))

area = lambda r: 3.14*(r**2)

print(f"Area of circle with radius {x} = {area(x)}")

Enter radius:2
Area of circle with radius 2 = 12.56

# PROGRAM - 2
## AIM: Program to find the biggest of three numbers.

In [3]:
numbers = input("Enter three numbers, separated by space:").split(' ')
integer = list(map(int, numbers)) 
print(f' Maximum of three numbers is : {max(integer)}')

Enter three numbers, separated by space:4 3 56
 Maximum of three numbers is : 56

# PROGRAM - 3
## AIM: Write a python program to clone or copy a list.

In [4]:
lst = input("Enter the elements of list, separated by space:").split()
lst

Enter the elements of list, separated by space:Ishan Dhankhar - 50

['Ishan', 'Dhankhar', '-', '50']

In [5]:
copy = lst.copy()
copy

['Ishan', 'Dhankhar', '-', '50']

In [6]:
#Updation in copy list:
copy.reverse()
copy

['50', '-', 'Dhankhar', 'Ishan']

In [7]:
#Printing original list, We'll see that there's no updation in original list.
lst

['Ishan', 'Dhankhar', '-', '50']

# PROGRAM - 4
## AIM: Python Program to Reverse a Given Number and compare it to the original number.

In [8]:
number = input("Enter a number:")

rev = lambda a: a[::-1]
result = rev(number)

print(f"Number = {int(number)}")
print(f"Reverse = {int(result)}")

Enter a number:12345
Number = 12345
Reverse = 54321

# PROGRAM - 5
## AIM: Python Program to Read a Number n and Print the Natural Numbers.

In [9]:
n = int(input("Enter a number:"))

natural_numbers = [str(i) for i in range(1,n+1)]

join = ','.join(natural_numbers)
print('Natural numbers:', join)

Enter a number:15
Natural numbers: 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15

# PROGRAM - 6
## AIM: Python Program to Determine all Pythagorean Triplets in the Range

In [10]:
def pythagorean_triplets(limits) :
   c, m = 0, 2
   while c < limits :
       for n in range(1, m) :
          a = m * m - n * n
          b = 2 * m * n
          c = m * m + n * n
          if c > limits :
             break
          print(a, b, c)
       m = m + 1
    
upper_limit = int(input("Enter a number:"))
print("The upper limit is :", upper_limit)

print("The Pythagorean triplets are :")
pythagorean_triplets(upper_limit)

Enter a number:15
The upper limit is : 15
The Pythagorean triplets are :
3 4 5
8 6 10
5 12 13

# PROGRAM - 7
## AIM: Python Program to Check if a Number is an Armstrong Number

In [12]:
num = int(input("Enter a number:"))

s = 0
for i in str(num):
    s+=int(i)**3

print(f'Sum of cubes of digits:{s}')

if s==num:
    print(f"\nTherefore, {num} is an Armstrong number.")
else:
    print(f"\nTherefore, {num} is not an Armstrong number.")

Enter a number:153
Sum of cubes of digits:153

Therefore, 153 is an Armstrong number.

# PROGRAM - 8
## AIM: Python Program to Remove Vowels and Punctuation from String

In [1]:
string = input("Enter a string:")

punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
vowels = 'aeiouAEIOU'

without_vowels_and_punc = [x for x in string if x not in vowels + punctuations]
without_vowels_and_punc = ''.join(without_vowels_and_punc)

Enter a string:@@my name - is ishan! $dhankhar

In [2]:
print(without_vowels_and_punc)

my nm  s shn dhnkhr

# PROGRAM - 9
## AIM: Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [6]:
def counter(lst):
    count = 0
    
    for item in lst:
        if len(item)>=2 and (item[0]==item[-1]):
            count+=1
    return count

counter(['abc','xyz','aba','ishnai'])

2

# PROGRAM - 10
## AIM: Python program to read a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

In [7]:
lst = [(1,2),(1,1),(2,3),(4,5),(1,4)]

lst.sort(key = lambda x: x[-1])

lst

[(1, 1), (1, 2), (2, 3), (1, 4), (4, 5)]

# PROGRAM - 11
## AIM: Python program to generate and print a list of first and last 5 elements where the values are square of numbers between a range.

In [9]:
def sq():
    lst = []
    
    for i in range(1,50):
        lst.append(i**2)
    
    print(f'Original List:{lst}')
    print(f'First 5 element\'s square:{lst[:5]}')
    print(f'Last 5 element\'s square:{lst[-5:]}')

sq()

Original List:[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]
First 5 element's square:[1, 4, 9, 16, 25]
Last 5 element's square:[2025, 2116, 2209, 2304, 2401]

# PROGRAM - 12
## AIM: WAP to execute these pyramid.
## a)
1

1 2

1 2 3

1 2 3 4

In [18]:
n = 5

for i in range(1,n):
    for j in range(1,i+1):
        print(j, end = '')
    print('\r')

1
12
123
1234

## b)
1

22

333

4444

In [19]:
n = 5

for i in range(1,n):
    for j in range(1,i+1):
        print(i, end = '')
    print('\r')

1
22
333
4444

## c)
1

2 3

4 5 6

7 8 9 10

In [25]:
n = 1

for i in range(5):
    for j in range(1,i+1):
        print(n, end = ' ')
        n+=1
    print('\r')

1
2 3
4 5 6
7 8 9 10


## d)
1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [30]:
rows = 5

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        # multiplication current column and row
        print(i*j, end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

# PROGRAM - 13
## AIM: WAP to get a single string from two given strings, separated by a space and swap the first two characters of each string also change a single to new string where first and last characters exchanged.

In [8]:
string1 = input("Enter string 1:")
string2 = input("Enter string 2:")

if (bool(string1) and bool(string2)) is True:
    print("Both strings available.\n Therefore:")
    string3 = string2[0] + string1[1:] + ' ' + string1[0] + string2[1:]
    print(string3)

else:
    if (bool(string1) is True and bool(string2) is False):
        s_len = len(string1)
        string3 = string1[-1]+string1[1:s_len-1]+string1[0]
        print("Only String 1 available.\n Therefore:")
        print(string3)
        
    elif (bool(string2) is True and bool(string1) is False):
        s_len = len(string2)
        string3 = string2[-1]+string2[1:s_len-1]+string2[0]
        print("Only String 2 available.\n Therefore:")
        print(string3)

Enter string 1:Gurugram
Enter string 2:University
Both strings available.
 Therefore:
Uurugram Gniversity

# PROGRAM - 14
## AIM: WAP to find the GCD of 2 numbers

In [12]:
num1 = int(input("Enter number 1:"))
num2 = int(input("Entner number 2:"))
try:
    if num1>num2:
        higher = num1
        lower = num2
    else:
        higher = num2
        lower = num1

    emp_lst = []
    for num in range(1, higher+1):
        if higher%num==0 and lower%num==0:
            emp_lst.append(num)
    print(f'Divisors of {num1} and {num2} = {emp_lst}')    
    GCD = max(emp_lst)        
    print(f"GCD of {num1} and {num2} = {GCD}")

except Exception as e:
    print(str(e))

Enter number 1:12
Entner number 2:24
Divisors of 12 and 24 = [1, 2, 3, 4, 6, 12]
GCD of 12 and 24 = 12

# PROGRAM - 15
## AIM: WAP to find the factorial of a number

In [13]:
n = int(input("Enter a number:"))
i = 1
fact = 1
while(i<=n):
    fact *= i
    i+=1
print(f'Factorial of {n} = {fact}')

Enter a number:5
Factorial of 5 = 120

# PROGRAM - 16
## AIM: WAP to generate Fibonacci series of N terms

In [18]:
def fibonacci(n):
    a = 0
    b = 1
    sum = 0
    print(f"Fibonacci series of {n} terms = ", end = ' ')
    for i in range(0,n+1):
        
        print(sum, end = ' ')
        
        a = b
        b = sum
        sum = a+b
        
n = int(input("Enter a number:"))
fibonacci(n)

Enter a number:6
Fibonacci series of 6 terms =  0 1 1 2 3 5 8

# PROGRAM - 17
## AIM: WAP to count the number of vowels.

In [19]:
string = input("Enter a string:").lower()
vowels = 'aeiou'
count = 0
for letter in string:
    if letter in vowels:
        count+=1
print(f"Number of vowels in our string = {count}")

Enter a string:ishan dhankhar
Number of vowels in our string = 4

# PROGRAM - 18
## AIM: WAP to remove the characters which have odd index values of a given string.

In [21]:
string = [char for char in input("Enter a string:")]

lst = []
for i in range(len(string)):
    if i%2==0:
        lst.append(string[i])
print(''.join(lst))

Enter a string:Ishan Dhankhar
IhnDaka

# PROGRAM - 19
## AIM: WAP TO remove duplicates from a list.

In [24]:
lst = input("Enter elements of list (separated by space):").split(' ')
print(f"\nOriginal list:{lst}")
emp = [ ]

for item in lst:
    if item not in emp:
        emp.append(item)
    else:
        pass
    
print(f"\nList without Duplicates:{emp}")

Enter elements of list (separated by space):apple ball cat cat bear ball apple

Original list:['apple', 'ball', 'cat', 'cat', 'bear', 'ball', 'apple']

List without Duplicates:['apple', 'ball', 'cat', 'bear']

# PROGRAM - 20
## AIM: WAP TO construct the following pattern using nested for loop:

a)

*
* *
* * *
* * * *
* * *
* *
*

In [34]:
for i in range(1,5):
    for j in range(1,i+1):
        print('*', end=' ')
    print('\r')
    
for i in range(4,1,-1):
    for j in range(2,i+1):
        print("*", end=' ')
    print('\r')

*
* *
* * *
* * * *
* * *
* *
*

b)

   *
  * *
 * * *

In [36]:
for i in range(1,4):
    for j in range(1,4-i):
        print(' ', end='')
    
    for k in range(1,i+1):
        print('*', end=' ')
    print('\r')

  *
 * *
* * *

c)

     *
    * *
   * * *
    * *
     *

In [65]:
for i in range(1,4):
    for j in range(1,4-i):
        print(' ', end='')
    
    for k in range(1,i+1):
        print('*', end=' ')
    print('\r')
    
for i in range(2,0,-1):
    for j in range(0,3-i):
        print(' ', end='')
    
    for k in range(1,i+1):
        print('*', end=' ')
    print('\r')

  *
 * *
* * *
 * *
  *

# PROGRAM - 21
## AIM: Python program to merge two dictionaries.

In [78]:
# Approach 1
dict1 = {'a':1,'b':2,'c':3}
dict2 = {'d':4,'e':5,'f':6}

dict3 = {**dict1,**dict2}

print(f'Mergerd Dictionary = {dict3}')

Mergerd Dictionary = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [79]:
# Approach 2
dict1 = {'a':1,'b':2,'c':3}
dict2 = {'d':4,'e':5,'f':6}

for key,value in dict2.items():
    dict1[key]=value
    
print(f'Merged Dictionary = {dict1}')

Merged Dictionary = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

# PROGRAM - 22
## AIM: WAP in python. Given an empty chessboard and one bishop placed in any square, say (r,c), generate the list of all squares the bishop could move to.

In [83]:
r = int(input("Enter number of rows:"))
c = int(input("Enter number of columns:"))

while (c in range(1,9) and r in range(1,9)):
    print("Possible movement in (row, column):")
    
    if r==1 and c==1:
        print(r,c+1)
        print(r+1,c)
        break
        
    elif r==1 and c==8:
        print(r,c-1)
        print(r+1,c)
        break
        
    elif c==1 and r==8:
        print(r-1,c)
        print(r,c+1)
        break
        
    elif c==8 and r==8:
        print(r-1,c)
        print(r,c-1)
        break
        
    elif c==1 and r<8:
        print(r,c+1)
        print(r+1,c)
        print(r-1,c)
        break
        
    elif r==1:
        print(r+1,c)
        print(r,c+1)
        print(r,c-1)
        
    elif c==8:
        print(r-1,c)
        print(r+1,c)
        print(r,c-1)
        break
    
    elif r==8:
        print(r-1,c)
        print(r,c+1)
        print(r,c-1)
        break
        
    else:
        print(r,c-1)
        print(r,c+1)
        print(r+1,c)
        print(r-1,c)
        break

else:
    print("Invalid Range for row and column!")

Enter number of rows:3
Enter number of columns:4
Possible movement in (row, column):
3 3
3 5
4 4
2 4

# PROGRAM - 23
## AIM: WAP that takes a list of words and returns the length of the longest one.

In [88]:
input_list = input("Enter words (separated for space):").split()
length_list = list(map(lambda a: len(a), input_list))
print(f"Our List:{input_list} \nRespective lengths:{length_list}")
print(f"Therefore, the length of the longest one = {max(length_list)}")

Enter words (separated for space):My name is Ishan Dhankhar
Our List:['My', 'name', 'is', 'Ishan', 'Dhankhar']
Respective lengths:[2, 4, 2, 5, 8]
Therefore, the length of the longest one = 8

# PROGRAM - 24
## AIM: WAP to find those numbers which are divisible by 7 and multiple of 5 between 100 to 3000.

In [93]:
lst = [str(x) for x in range(100,3001) if x%7==0 and x%5==0]
output = ', '.join(lst)
print(f"Numbers divisible by 7 and multiple of 5 between 100-3000 are :{output}.")

Numbers divisible by 7 and multiple of 5 between 100-3000 are :105, 140, 175, 210, 245, 280, 315, 350, 385, 420, 455, 490, 525, 560, 595, 630, 665, 700, 735, 770, 805, 840, 875, 910, 945, 980, 1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695, 2730, 2765, 2800, 2835, 2870, 2905, 2940, 2975.

# PROGRAM - 25
## AIM: Python program to find the second lowest grade of any student(s) from the given names and grades of each student using lists and lambda.

In [6]:
if __name__=='__main__':
    students_marks = []

    for _ in range(int(input("Enter number of students:"))):
        name = input("Enter name:")
        score = float(input("Enter grade:"))
        students_marks.append([name, score])

    second_highest = sorted([score for name, score in students_marks])[1]
    result = '\n'.join(sorted([name for name, score in students_marks if score == second_highest]))
    print(f"\nStudent names with second lowest score:\n{result}")

Enter number of students:5
Enter name:Ashish
Enter grade:100
Enter name:Ishan
Enter grade:79
Enter name:Churchill
Enter grade:79
Enter name:Lipi
Enter grade:88
Enter name:Mahima
Enter grade:75

Student names with second lowest score:
Churchill
Ishan

# PROGRAM - 26
## AIM: Python program to convert a roman numeral to an integer

In [2]:
def roman_to_int(rom):
    """
    It is a function which converts Roman value to an integer value.
    """
    
    value = {'M': 1000,'D': 500,'C': 100,'L': 50,'X': 10,'V': 5,'I': 1}
    
    p = 0
    ans = 0
    
    for i in rom:
        if i.isalpha() is True:
            upper = i.upper()
            if value[upper]>=p:
                ans+=value[upper]
            else:
                ans-=value[upper]
            
        else:
            print("Incorrect Input!")
            break
    print(ans)
    
inp = input("Enter a roman number:")
roman_to_int(inp)

Enter a roman number:mcmiv
2106

# PROGRAM - 27
## AIM: Python program to calculate student Grades with Multiple Inheritance

In [8]:
class information:
    def __init__(self):
        self.name = input("Enter name:")
        self.age = input("Enter age:")
        self.roll_number = input("Enter roll number:")
        
    def display(self):
        print(f"Name:{self.name}")
        print(f"Age:{self.age}")        
        print(f"Roll Number:{self.roll_number}")        
        
class marks:
    def __init__(self):
        print("Enter the marks of respective subject:")
        self.english = int(input("English:"))
        self.hindi = int(input("Hindi:"))        
        self.maths = int(input("Maths:"))        
        self.science = int(input("Science:"))        
        self.economics = int(input("Economics:"))   
        
    def display(self):
        print(f"Total marks = {self.english + self.hindi + self.maths + self.science + self.economics}")
        
class student(information, marks):
    def __init__(self):
        information.__init__(self)
        marks.__init__(self)  
    
    def result(self):
        information.display(self)
        marks.display(self)
        
s = student()

Enter name:Ishan
Enter age:21
Enter roll number:50
Enter the marks of respective subject:
English:98
Hindi:99
Maths:100
Science:97
Economics:98

In [9]:
s.result()

Name:Ishan
Age:21
Roll Number:50
Total marks = 492

# PROGRAM - 28
## AIM: Python program to create an Address Book with Multiple Inheritance

In [7]:
class publicInfo:
    def __init__(self):
        self.name = input("Enter name:")
        self.age = input("Enter age:")
    
    def display(self):
        print(f"Name:{self.name}")
        print(f"Age:{self.age}")
        
        
class privateInfo:
    def __init__(self):
        self.phone_no = input("Enter Phone Number:")
        self.address = input("Enter Address:")
        
    def display(self):
        print(f"Phone Number:{self.phone_no}")
        print(f"Address:{self.address}")
        
        
class personInfo(publicInfo, privateInfo):
    def __init__(self):
        publicInfo.__init__(self)
        privateInfo.__init__(self)
        
    def finaloutput(self):
        publicInfo.display(self)
        privateInfo.display(self)
        
p1 = personInfo()

Enter name:Ishan Dhankhar
Enter age:21
Enter Phone Number:123456789
Enter Address:Gurugram sector 51

In [8]:
p1.finaloutput()

Name:Ishan Dhankhar
Age:21
Phone Number:123456789
Address:Gurugram sector 51

# PROGRAM - 29
## AIM: Python program to create an application to implement a Calculator

In [1]:
print("**************CALCULATOR*************")
print("\nCHOOSE OPERATION:")
print("\nPress 1 for ADDITION")
print("Press 2 for SUBTRACTION")
print("Press 3 for MULTIPLICATION")
print("Press 4 for DIVISION\n")

try:
    op = input("Enter Operation code (1/2/3/4):")
    
    num1 = int(input("Enter number 1:"))
    num2 = int(input("Enter number 2:"))
    
    if op=='1':
        result = num1+num2
        print(f'Addition of {num1} and {num2} = {result}')
        
    elif op=='2':
        result = num1-num2
        print(f'Subtraction of {num1} and {num2} = {result}')
    
    elif op=='3':
        result = num1*num2
        print(f'Multiplication of {num1} and {num2} = {result}')
    
    elif op=='4':
        result = num1/num2
        print(f'Division of {num1} and {num2} = {result}')
        
    else:
        print("Wrong Operation code choosen. It doesn't exists!")
        
except Exception as e:
    print(str(e))

**************CALCULATOR*************

CHOOSE OPERATION:

Press 1 for ADDITION
Press 2 for SUBTRACTION
Press 3 for MULTIPLICATION
Press 4 for DIVISION

Enter Operation code (1/2/3/4):3
Enter number 1:2
Enter number 2:3
Multiplication of 2 and 3 = 6

# PROGRAM - 30
## AIM: WAP to print 3* 6* 3 – 3Darray.

In [4]:
array = [[['*' for col in range(3)] for col in range(6)] for row in range(3)]
array

[[['*', '*', '*'],
  ['*', '*', '*'],
  ['*', '*', '*'],
  ['*', '*', '*'],
  ['*', '*', '*'],
  ['*', '*', '*']],
 [['*', '*', '*'],
  ['*', '*', '*'],
  ['*', '*', '*'],
  ['*', '*', '*'],
  ['*', '*', '*'],
  ['*', '*', '*']],
 [['*', '*', '*'],
  ['*', '*', '*'],
  ['*', '*', '*'],
  ['*', '*', '*'],
  ['*', '*', '*'],
  ['*', '*', '*']]]